*~
callgrind.*
cannotDecomposition.dat-s
check/*
!check/testset/
check/testset/*
!check/testset/SCIPSDPpaper.test
!check/testset/SCIPSDPpaper.solu
!check/testset/short.test
!check/testset/short.solu
!check/testset/testset.test
!check/testset/testset.solu
obj/*
bin/*
doc/html/*
RIP-MISDP-Paper/instances/*
RIP-MISDP-Paper/*.aux
RIP-MISDP-Paper/*.bbl
RIP-MISDP-Paper/*.blg
RIP-MISDP-Paper/*.log
RIP-MISDP-Paper/*.spl
RIP-MISDP-Paper/*.tex.backup
check/results/*
instances/*.dat-s_misdp.sol
lib/*
_backups/*
CON
.cproject
DEADJOE
debug.sol
lint.out
#Makefile#
mosek.task
oldFiles/*
.gitignore (copy)
output.tmp
.project
RIP-MISDP-Paper/*
!RIP-MISDP-Paper/tables
!RIP-MISDP-Paper/IEEE_RIP-MISDP.tex
!RIP-MISDP-Paper/scripts
settings/*
!settings/lp_approx.set
!settings/1thread.set
sdpa.dat-s
sdpa.ini-s
.settings/*
src/depend.cppmain.dbg
TAGS
test.set
TrussTopology/*
unboundedGrowth.dat-s
/src/scipsdpgithash.c
build/*
unittests/Testing/*
unittests/bin/*
unittests/Criterion/*
unittests/CTestTestfile.cmake
unittests/obj/*