*~
bestrank1*
callgrind.*
cannotDecomposition.dat-s
check/*
!check/testset/
check/testset/*
!check/testset/SCIPSDPpaper.test
!check/testset/SCIPSDPpaper.solu
!check/testset/short.test
!check/testset/short.solu
!check/testset/testset.test
!check/testset/testset.solu
obj/*
bin/*
doc/html/*
RIP-MISDP-Paper/scripts/Asp07/*
RIP-MISDP-Paper/scripts/MISDP/*
RIP-MISDP-Paper/scripts/MISDP_small/*
RIP-MISDP-Paper/scripts/MISDP_backup/*
RIP-MISDP-Paper/scripts/MISDP_KT20/*
RIP-MISDP-Paper/scripts/Matrices/*
RIP-MISDP-Paper/scripts/Matrices_small/*
RIP-MISDP-Paper/scripts/Matrices_backup/*
RIP-MISDP-Paper/scripts/Matrices_KT20/
RIP-MISDP-Paper/scripts/RIPCBFall.solu
RIP-MISDP-Paper/scripts/check.m
RIP-MISDP-Paper/instances/*
RIP-MISDP-Paper/scripts/*.aux
RIP-MISDP-Paper/scripts/*.bbl
RIP-MISDP-Paper/scripts/*.blg
RIP-MISDP-Paper/scripts/*.log
RIP-MISDP-Paper/scripts/*.out
RIP-MISDP-Paper/scripts/*.pdf
RIP-MISDP-Paper/scripts/*.spl
RIP-MISDP-Paper/scripts/*.tex.backup
check/results/*
instances/*.dat-s_misdp.sol
instances/cblib
lib/*
_backups/*
CON
.cproject
DEADJOE
debug.sol
lint.out
flexelint
#Makefile#
mosek.task
oldFiles/*
.gitignore (copy)
output.tmp
.project
RIP-MISDP-Paper/*
!RIP-MISDP-Paper/tables
!RIP-MISDP-Paper/IEEE_RIP-MISDP.tex
!RIP-MISDP-Paper/scripts
settings/*
!settings/lp_approx.set
!settings/1thread.set
sdpa.dat-s
sdpa.ini-s
.settings/*
src/depend.cppmain.dbg
TAGS
test.set
TrussTopology/*
unboundedGrowth.dat-s
/src/scipsdpgithash.c
build/*
unittests/Testing/*
unittests/bin/*
unittests/Criterion
unittests/CTestTestfile.cmake
unittests/obj/*
tex/MISDP-Presolving/*.aux
tex/MISDP-Presolving/*.bbl
tex/MISDP-Presolving/*.blg
tex/MISDP-Presolving/*.log
tex/MISDP-Presolving/*.spl
unittests/test*.cbf
unittests/example*.cbf
tools/InstanceGeneration/*.cbf.gz
tools/InstanceGeneration/*.cbf



